.teams-view{
	background-color: #eaedf1;
}

.team-logo {
	/* width: 50%; */
}

.team-listing {
	/* I want to use display: inline-block but it doesn't work as expected */
	/* It renders differently if the name is on one line or more */
	/*display: inline-block;*/
	/* border-color: #2d3644 */
	/* display: inline-flex;
	flex-direction: column;
	padding: 10px 5px;
	margin: 15px 10px;
	width: 150px;
	min-height: 250px;
	height: 175px;
	text-align: center;
	text-decoration: none;
	border-radius: 5%;
	color: #222;
	background-color: white;
	border: 2px solid green; */

	display: inline-flex;
	flex-direction: column;
	padding: 10px 5px;
	margin: 15px 10px;
	background-color: white;
	text-decoration: none;
	width: 200px;
	min-height: 200px;
	border: 2px solid magenta;
	text-align: center;
	/* justify-content: center; */
	
}

.team-listing:hover{
	/*background-color: cyan;*/
	box-shadow: 2px 2px #888;
}

.team-listing div {
	width: 100%;
}

.team-name {
	/* display: flex; */
	font-size: 24px;
	align-self: center;
	text-align: center;
	/* margin-top: -5px; */
	/* vertical-align: middle; */
}