
.background { 
	/*background-color: red;*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*display: inline-block;*/
}

.team-logo {
	width: 150px;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 36pt;
}

.team-container {
	background-color: white;
	width: 80%;
	text-align: center;
	margin: 2em auto;
	border-radius: 1em;
}

.schedule-container {
	width: 650px;
	margin: auto;
}

.list-container {
	 
}

.list-title {
	
}