.team-item {
  display: inline-block;
  margin: 10px; 
  background-color: red;
  padding: 15px;
  font-size: 24px;
}

.team-item:hover {
  border: 2px solid red;
  margin: 8px;
  background-color: white;
}